# For pyfreeradius module
pydantic==1.10.12

# Uncomment the appropriate line to load the DB-API 2.0 (PEP 249) enabled driver
mysql-connector-python
#pymysql
#pymssql
#psycopg2
#sqllite3
#oracledb
#<DRIVER>

# For FastAPI app
fastapi
uvicorn
